
<!-- 余裕があれば、ここにメインビジュアルやワンフレーズ放り込めると良い -->


<div class="text-center">
  <h1>お店の投稿</h1>
</div>

<!-- 事前に投稿するお店が、データベースに登録されていないか確認する検索フォーム設置、アクセス先はarticle -->

<!-- 登録済みの場合は、基本情報は入力せず（修正EDITはできるようにしておくのが理想。）、コメント欄のみ追記できるように案内-->
<!-- コメント登録のみ別テーブルを用意しておく必要があり。 -->


    <%= render 'form', article: @article %>
    