
<!-- ここは、当アプリに
<!-- gravatar_urlはヘルパーにてメソッド定義し、作成-->

<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div class="row">
            <div class="col-sm-4">
              <p style="margin-top: 10px;">ユーザー名：<%= user.name %></p>  
            </div>
          
            <div class="col-sm-6">
              <p><%= link_to 'ユーザーページへ', user_path(user), class: 'btn btn-primary btn-sm', style: 'margin-top: 7px;' %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>