

                  
<%= form_with url: user_search_users_path, method: :get, local: true do |f| %>
    <p>ユーザー名で検索</p>
    <%= f.text_field :search %>

    <%= f.submit :search %>
<% end %>



<h2>検索結果</h2>
<%= render 'users', users: @search_users %>