

                  
<%= form_with url: user_search_users_path, method: :get, local: true do |f| %>
    <p>ユーザー名で検索</p>
    <%= f.text_field :search %>

    <%= f.submit :検索 %>
<% end %>



<h4 style="margin-top: 40px;">検索結果</h4>

<div class="search-none-alert" style="margin-top: 40px;">
                                
      <% if @search_users == []; %>
        <div class="erros">
          <h5>検索結果無し。</h5>
        </div>
      <% end %>
</div>

<%= render 'users', users: @search_users %>