<!-- scssを読み込むためのコード -->


             <header>
                <!-- ロゴ -->
                <!-- 後ほどロゴ作成して挿入する-->
                <div class="logo">
                    <h3><a href="/"><img src="" alt="dinner planner"></a></h3>
                </div>
                <nav>
                    <ul class="global-nav">
                        <li><a href="#">Dinner Plannerの使い方</a></li>
                        <li><a href="#">新規会員登録</a></li>
                        <li><a href="#">ログイン</a></li>
                    </ul>
                </nav>
                
                <div id="wrapper">
                    <div class="content">
                        <h1>その時々に適う
                        <br>お店選びをあなたに</h1>
                        <p>みんなのイチオシのお店をシェアしあい、様々なシチュエーションに合わせて最適なお店選びをしよう！！
                        </p>
                        
                        <!-- ここに検索用の入力フォームと検索ボタンを設置する -->
                        <p class="btn"><a href="#">お店を検索する</a></p>
                            
                        
                    </div>
                </div>
                    
                    
            </header>
            
            <footer>
                    <!-- コピーライト仮作成　　後ほど精密修正へ-->
                    <small>(C)2020 syanta-studio</small>
            </footer>

