<!-- scssを読み込むためのコード -->

<!-- 後ほどログイン有無でページ分岐　if logged in?を追加する。 -->
<!-- ログイン後のトップページデザインをどうするかは別途考える -->
<!-- ★ログインユーザーのみが使える何か他の便利機能を追加して、それぞれのページ遷移のボタン設置を構築 -->



<!-- ログイン完了後のリダイレクトは、sessionsコントローラーでshowページにするよう設定。 -->
<!-- showページのデザインはワイヤーフレーム７のページを作る -->
<!-- -->

          
                <!-- ロゴ -->
                <!-- 後ほどロゴ作成して挿入する-->
                
                
                <!-- link_toに組み込む文字はデフォルトで青色になる可能性あり-->
                <!-- 色替えには、style: オプションで-->

                
    <div id="root-top" class="row">
        <div class="header">
            <div class="logo">
                <h2><a href="/"><img src="/assets/mainlogo.png" alt="dinner planner"></a></h2>
            </div>
            <nav>
                <ul class="global-nav">
                    <li><%= link_to 'おすすめ活用法', navigation_path, style: 'font-size:20px; color:white' %></li>
                    <li><%= link_to '新規会員登録', signup_path, style: 'font-size:20px; color:white' %></li>
                    <li><%= link_to 'ログイン', login_path, style: 'font-size:20px; color:white' %></li>
                </ul>
            </nav>
        </div>
        
        <div class="wrapper">
            <div class="top-title">
                <h1 style="color:white">その時々に適う
                <br>お店選びをあなたに</h1>
            </div>
            
            <div class="sub-message">
                <h3 style="color:yellow">みんなのイチオシのお店をシェアして、様々なシチュエーションに
                <br>合わせた最適なお店選びをしよう！！
                </h3>
            </div>
            
            <div class="top-search">    
                <!-- ここに検索用の入力フォームと検索ボタンを設置する -->
                <%= link_to 'お店の検索', search_users_path, class: 'btn btn-info', style: 'font-size:40px' %>
            </div>
        </div>
        
      
                
    </div>


