
<!--  ここはトップページから遷移して、アプリの便利な使いかたを紹介するページに。 -->
<!-- 書籍を参考に、2カラム式のレイアウトでの表記をイメージ -->

<h3>当アプリの使い方</h3>


<%= form_with(url: "/change", method: :post) do |f| %>
<%= f.label :都道府県, '都道府県' %>
  <%= f.select :prefecture, [['兵庫県', '兵庫県'], ['大阪府', '大阪府'],['京都府', '京都府']] %>
  <%= f.submit %>
<% end %>

<div id="tarin-line">
    <select id="change" onChange="create_line_select()">
        
    </select>
</div>

