
<h2>（ここにロゴ）リクエストされた機能を利用されるにはログインしてください。</h2>

<div class="login-page">
    <h3>既に会員登録済みの方</h3>
    <%= link_to 'ログインページへ', login_path, class: 'btn btn-primary btn-sm' %>
</div>


<div class="signup-page">
    <h3>会員登録されていない方</h3>
    <%= link_to '会員登録ページへ', signup_path, class: 'btn btn-primary btn-sm' %>
</div>
