/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_selfｓ
 */
 
 
 /* body関連の編集は、こっちで！！、こっちに関しては、asset.rbで何か編集する必要なさそう*/
 
 
 body {
     color: lightgreen;
     margin: 0;
     padding: 0;
     background-color: #555555;
 }
 
 #main_visual {
  height: 450px;
  width: 100%;
 }
 
 #main_visual img {
  height: 450px;
  width: 100%;
 }
 

 
 .top {
    color:#DDFFFF	;
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url(main-back_visual-d5bb3fceb985828d316ee7b35411061d45cc37ec2872a68caa6bd5527e63605e);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  
 }
 
 #main_visual {
    display: flex;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
 }
 
 
 
 footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px 0;

    position: relative;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}


#user-info {
 color: blue;
}




