

header {
    width: 1260px;
    height: 100px;
    margin: 0 auto;
}

#root-top {
    margin: 0;
}


/* デフォルトマージンの削除 */
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}


nav ul li {
    color: white;
    text-decoration: none;
    line-height: 2;
}

li {
    color: white;
}

li:visited {
    color: yellow;
}



nav ul {
    margin: 0;
    padding: 0;
}


/* ロゴ下部のマージン削除 */
img {
    vertical-align: bottom;
}

.logo {
    float: left;
    margin-top: 50px;
}

.global-nav {
    float: right;
    margin-top: 60px;
}

.global-nav li {
    float: left;
    margin: 0 20px;
    list-style: none;
}

.global-nav li:hover {
    padding-bottom: 3px;
    text-decoration: none;
}


.content {
    width: 960px;
    
    margin: 0 auto;
    text-align: center;
}



h1 {
    font-size: 80px;
    line-height: 2;
    color: black;
    margin-bottom: 15px;
    
}

.top-title h1 {
    font-family: 'Cherry Swash', cursive;
}


.content {
    margin-top: 50px;
}

.sub-message {
    margin-top: 50px;
}

.top-search {
    margin-top: 180px;
}

.wrapper {
    width: 100%;
}








/*ファイルパスの記載は必要なかった*/
