// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
    color: black;
    text-align: center;
}

ul li {
    
    display: inline;
    text-decoration: none;
    list-style: none;
    
}

.user-name {
    text-align: left;
}


.card {
    color: black;
}

.card-body {
    background-color: #98fb98;
}