
<% if model.errors.any? %>
  <div id="error_explanation" class="bg-danger">
    <ul class="mb-0">
      <li>
        <% model.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>